header {
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    z-index: 20;
    background-color: white;
    width: 100vw;
    justify-content: space-between;
    height: 70px;
    padding-left: 7.505%;
    padding-right: 7.725%;
    /* border-bottom: 10px solid #F8C7CD; */
}

header nav {
    height: 27px;
    display: flex;
}

header nav a {
    margin-left: 45px;
    height: 100%;
    font-size: 18px;
    padding-inline: 7px;
    text-decoration: none;
    color: #28338A;
}

.logo-accueil {
    width: 50px;
    height: 50.1px;
}

.logo-accueil img {
    width: 100%;
}

header nav a.active-toggle-menu {
    box-shadow: 0 -10px #F8C7CD inset;
}

header .active-toggle-menu {
    width: auto;
    transition: all 0.5s;
}

.menu-toggle {
    display: none;
    border: none;
    font-size: 35px;
    background-color: white;
    color: #28338A;
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out;
}

.menu-toggle:focus {
    transform: rotate(360deg);
}


@media only screen and (max-width: 1024px) {
    header nav a:hover {
        box-shadow: none;
    }

    .menu-toggle {
        display: flex;
    }

    header nav {
        display: none;
        /* border: 2px solid blue; */
    }

    header nav a {
        height: auto;
        margin-inline: auto;
        margin-bottom: 50px;
    }

    header nav.active-toggle-menu {
        display: flex;
        flex-direction: column;
        text-align: center;
        z-index: 20;
        position: absolute;
        top: 80px;
        width: 100vw;
        height: 100vh;
        background-color: white;
    }

    header nav a.active-toggle-menu {
        height: auto;
        box-shadow: 0 -10px #F8C7CD inset;

    }
}
