.loader-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2B3B8B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-div img {
    width: 50%;
    height: auto;
}