.services-section {
    padding-inline: 7.6%;
    padding-bottom: 75px;
}

.all-services-card-div {
    display: flex;
    gap: 25px;
}

.services-column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.services-column .service-card:nth-child(2) {
    flex-direction: row-reverse;
}

/* .all-services-card-div:last-child .services-column .service-card:nth-of-type(2) {
    flex-direction: row-reverse;
} */

.service-card {
    display: flex;
    /* height: 100%; */
    /* width: 100%; */
    margin-bottom: 22px;
    flex: 1;
}

.service-card-text-div {
    display: flex;
    flex-direction: column;
    background-color: #28338A;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 50%;
    height: 100%;
    padding: 10px 5.5% 10px 5.5%;
}

.service-card img {
    width: 50%;
    height: auto;
}

.service-card h2, .service-card p {
    color: #FFFFFF;
    text-align: center;
}

.service-card h2 {
    font-family: "Mango-Black";
    font-size: 24px;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 2px solid #F8C7CD;
    margin-bottom: 25px;
    margin-top: 0;
}

.service-card p {
    font-size: 14px;
    margin: 0;
}

/* faire mediaquerries sous 1224px */