.extra-youtube-content {
    display: flex;
    width: 100%;
    height: 628px;
    margin-bottom: 80px;
}

.extra-youtube-content iframe {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .extra-youtube-content {
        height: 360px;
        margin-bottom: 15px;
    }
}