:root {
  -main-blue: #28338A;
  -pink: #F8C7CD;
  -dark-blue: #1F2254;
  -white: #FFFFFF;
}

@font-face {
  font-family: "Mango-Black";
  src: local("black-mango-black"), url("./fonts/black-mango-black.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham-HTF-Book";
  src: local("gotham-htf-book"), url("./fonts/gotham-htf-book.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

p, span {
  color: #FFFFFF;
  font-family: "Gotham-HTF-Book";
  font-size: 16px;
}

a {
  font-family: "Mango-Black";
  text-decoration: none;
}

img {
  object-fit: cover;
}

/* main div */

.pink-border-main-div {
  border-top: 10px solid #F8C7CD;
}

.pink-titles {
  box-shadow: 0 -18px #F8C7CD inset;
  color: #28338A;
  line-height: 40px;
  font-family: "Mango-Black";
  font-size: 32px;
  padding-inline: 20px;
  margin-inline: auto;
  margin: 71px auto auto auto;
  width: fit-content;
}

.social-div a {
  /* margin-inline: 7.62px; */
  height: 25px;
  font-size: 25px;
  display: flex;
}

.social-div {
  display: flex;
}